@font-face {
  font-family: 'anww';
  src:  url('fonts/anww.eot?7msg3d');
  src:  url('fonts/anww.eot?7msg3d#iefix') format('embedded-opentype'),
    url('fonts/anww.ttf?7msg3d') format('truetype'),
    url('fonts/anww.woff?7msg3d') format('woff'),
    url('fonts/anww.svg?7msg3d#anww') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --font-base: 'anww', sans-serif;
  --icon-size: 0.75em;
}

.anww-external-link-icon {
  font: normal normal normal 1em var(--font-base) !important;
  speak: never;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anww-external-link-icon:before {
  content: " \e900";
  font-size: var(--icon-size);
}